// google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: .3s linear;
}
html{
    overflow-x: hidden;
}

body {
    background: $grey;
    overflow-x: hidden;
  }
// left nav
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background: $light;
    height: 100%;
    width: 280px;
    transition: 0.3s ease;
    overflow-x: hidden;
    // scrollbar-width none 不會顯示捲軸，但該元素仍可捲動。https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width
    scrollbar-width: none;
    z-index: 2000;
    // &::-webkit-scrollbar{
    //     display: none;
    // }
    &.hide{
        width: 60px;
        .side-menu li a{
            width:calc(48px - (4px * 2)) ;
            transition: .3s ease;
        }
        ~.content{
            width: calc(100% - 60px);
            left: 60px;
        }
        .logo span{
            display: none;
        }
    }
    .logo{
        font-size: 1.5rem;
        font-weight: 700;
        height: 56px;
        position: static;
        top: 0;
        left: 0;
        padding-bottom: 20px;
        box-sizing: content-box;
        // box-sizing: border-box;
        background: $light;
        color: $blue;
        // margin-top: 5px;
        z-index: 500;
        // background: red;
        // i{
            //     min-width: 60px;
            //     display: flex;
            //     justify-content: center;
            // }
        .logo-flex{
            margin-top: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .text{
            text-align: center;
            margin: 2px;
            font-size: 1.4rem;
            color: $blue;
        }
        img{
            width: 50px;
            height: 100%;
        }
        span{
            padding-left: 5px;
        }
        // .a{
        //     display: block;
        //     width: 100%;
        // }
    }
    .side-menu{
        width: 100%;
        margin-top: 18px;
        li{
            height: 48px;
            margin-left: 6px;
            background: transparent;
            border-radius: 48px 0 0 48px;
            padding: 4px;
            a{
                background: $light;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                border-radius: 48px;
                font-size: 1rem;
                color: $dark;
                white-space: nowrap;// 和 normal 一样合并空白符，但阻止源码中的文本换行。
                overflow: hidden;
                i{
                    // margin-left: 15px;
                    // padding-right: 10px;
                    min-width: calc(60px - ((4px + 6px) *2));
                    display: flex;
                    justify-content: center;
                }
                &.logout{
                    color: $red;
                }

            }
        }
        li.active{
            position: relative;
            background: $grey;
            a{
                color: $blue;
            }
            // 
            &::before{
                content: '';
                position: absolute;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                right: 0;
                top: -40px;
                z-index: -1;
                box-shadow: 20px 20px 0 $grey;
            }
            &::after{
                content: '';
                position: absolute;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                right: 0;
                bottom: -40px;
                z-index: -1;
                box-shadow: 20px -20px 0 $grey;
            }
        }
        &.top li a:hover{
            color: $blue;
        }
    }
}
// right content
.content{
    position: relative;
    width: calc(100% - 280px);
    left: 280px;
    transition:all .3s ease;
    nav{
        height: 56px;
        background: $light;
        padding: 0 24px;
        display: flex;
        // background: red;
        align-items: center;
        gap: 24px;
        position: static;
        top: 0;
        left: 0;
        z-index: 1000;
        // &::before{
        //     content: '';
        //     position: absolute;
        //     width: 40px;
        //     height: 40px;
        //     // background: red;
        //     border-radius: 50%;
        //     left: 0;
        //     bottom: -40px;
        //     box-shadow: -20px -20px 0 $light;
        // }
        a{
            color: $dark;
        }
        .fa-bars{
            cursor: pointer;
            color: $dark;
        }
        .nav-link{
            font-size: 1rem;
            transition: 0.3s ease;
            &:hover{
                color: $blue;
            }
        }
        form{
            // background: red;
            max-width: 400px;
            width: 400px;
            margin-right: auto;
            .form-input{
                display: flex;
                align-items: center;
                height: 36px;
                input{
                    flex-grow: 1;
                    width: 100%;
                    padding: 0 16px;
                    height: 100%;
                    border: none;
                    background: $grey;
                    border-radius: 36px 0 0 36px;
                    outline: none;
                    color: $dark;
                }
                button{
                    width: 36px;
                    height: 100%;
                    font-size: 1rem;
                    border: none;
                    outline: none;
                    // 左上 左右 右下 右左
                    border-radius: 0 36px 36px 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: $blue;
                    color: $light;
                }
            }
            
        }

        .switch-mode{
            display: block;
            min-width: 50px;
            height: 25px;
            border-radius: 25px;
            background: $grey;
            cursor: pointer;
            position: relative;
            // background: red;
            &::before{
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                bottom: 2px;
                width: calc(25px - 4px);
                // width: 20px;
                background: $blue;
                border-radius: 50%;
                transition: .3s ease;
            }
        }
        #switch-mode:checked + .switch-mode::before{
            left: calc(100% - (25px - 4px) - 2px);
            // left: 25px;
            background: $dark;
        }
        .nootification{
            position: relative;
            font-size: 1.1rem;
            .num{
                position: absolute;
                top: -6px;
                right: -6px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid $light;
                color: $light;
                background: $red;
                font-weight: 700;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
            }            
        }
        .profile img{
            width: 36px;
            height: 36px;
            border-radius: 50%;
            object-fit: cover;
        }



    }
    main{
        // background: red;
        width: 100%;
        padding: 36px 24px;
        max-height: calc(100vh - 56px);
        overflow-y: auto;
        .head-title{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
            flex-wrap: wrap;
            .left h1 {
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 10px;
                color: $dark;
            }
            .breadcrumb{
                display: flex;
                align-items: center;
                gap: 12px;
                i{
                    color: $dark;
                }
                li{
                    color: $dark;
                    a{
                        color: $grey2;
                        pointer-events: none;
                        &.active{
                            color: $blue;
                            pointer-events: unset;
                        }
                    }
                }
            }
            .download-btn{
                height: 36px;
                padding: 0 16px;
                border-radius: 36px;
                background: $blue;
                color: $light;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                font-weight: 500;
            }

        }
        .box-info{
            // background: red;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
            gap: 24px;
            margin-top: 36px;
            // ul{
                li{
                    padding: 24px;
                    background: $light;
                    border-radius: 20px;
                    display: flex;
                    align-items: center;
                    gap: 24px;
                    i{
                        width: 80px;
                        height: 80px;
                        border-radius: 10px;
                        font-size: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &:nth-child(1) i{
                        background: $orange;
                        color: $light;
                    }
                    &:nth-child(2) i{
                        background: $blue;
                        color: $light;
                    }
                    &:nth-child(3) i{
                        background: $yellow;
                        color: $light;
                    }
                    .text {
                        h3{
                            font-size: 2rem;
                            font-weight: 600;
                            color: $dark;
                        }
                        p{
                            color: $dark;
                        }
                    }

                }
            // }
        }   
        .table-data{
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            margin-top: 24px;
            width: 100%;
            color: $dark;
            & > div{
                border-radius: 20px;
                background: $light;
                padding: 24px;
                overflow-x: auto;
            }
            .head{
                display: flex;
                align-items: center;
                // justify-content: center;
                gap: 16px;
                margin-bottom: 24px;
                h3{
                    margin-right: auto;
                    font-size: 1.5rem;
                    font-weight: 600;
                }
                i{
                    cursor: pointer;

                }
            }
            .order{
                flex-grow: 1;
                flex-basis: 500px;
                // width: 100%;
                table{
                    width: 100%;
                    border-collapse: collapse;
                    // border-bottom: 1px solid red;
                    th{
                        // background: red;
                        padding-bottom: 12px;
                        font-size: 13px;
                        text-align: left;
                        border-bottom: 1px solid $grey;
                    }
                    td{
                        padding: 16px 0;
                        &:first-child{
                            display: flex;
                            align-items: center;
                            gap: 12px;
                            padding-left: 6px;
                        }
                        img{
                           width: 36px;
                           height: 36px;
                           object-fit: cover; 
                           border-radius: 50%;
                        }

                    }
                    tr:hover{
                        background: $grey;
                    }
                    tr td .status{
                        font-size: 10px;
                        padding: 6px 16px;
                        color: $light;
                        border-radius: 20px;
                        font-weight: 700;
                        &.edit{
                            background: $green;
                        }
                        // background: rgb(164, 243, 45);
                        &.del{
                            background: $red;
                        }
                    }
                }
            }
            .todo{
                flex-grow: 1;
                flex-basis: 300px;
                .todo-list{
                    width: 100%;
                    li{
                        // display: flex;
                        background: $grey;
                        border-radius: 10px;
                        padding: 14px 20px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 100%;
                        margin-bottom: 16px;
                        i{
                            cursor: pointer;
                        }
                        &.completed{
                            border-left: 10px solid $blue;
                        }
                        &.not-completed{
                            border-left: 10px solid $orange;
                        }
                        // &:last-child{
                        //     margin-bottom: 0;
                        // }
                    }
                }
                .todo-form{
                    width: 100%;
                    form{
                        .item-group{
                            position: relative;
                            margin-bottom: 28px;
                            label{
                                position: absolute;
                                top: 0;
                                left: 0;
                                padding: 10px 20px;
                                transition: 0.4s ease;
                            }
                            .date{
                                padding-left: 85px;
                                padding-top: 8px;
                                &:focus,&:valid{
                                    padding-left: 20px;
                                }
                            }
                        }

                        input,select{
                            width: 100%;
                            border-radius: 20px;
                            padding: 10px 20px;
                            font-size: 1rem;
                            outline: none;
                            border: 1px solid $grey;
                            &:focus ~ label,
                            &:valid ~ label{
                                color: $dark;
                                top: -35px;
                                font-size: 1rem;
                                font-weight: 700;
                            }
                            &:focus,&:valid{
                                border: 2px solid $blue;
                            }
                        }
                        .cancel:valid{
                            border: 1px solid $grey;
                        }
                        // .cancel:focus,&:valid{
                        //     border: 2px solid $blue;
                        // }
                        .submit{
                            background: transparent;
                            cursor: pointer;
                            &:hover{
                                background: $light-blue;
                                transform: scale(0.9);
                            }
                        }
                    }
                }
            }
        }
    }
}


::-webkit-scrollbar{
    width: 0.5rem;
}
::-webkit-scrollbar-track{
    background: #d9d9d9;
}
::-webkit-scrollbar-thumb{
    background: $blue;
    border-radius: 5rem;
}

@media(max-width:768px){
    .sidebar{
        width: 200px;
        .logo span{
            display: none;
        }
    }
    .content{
        width: calc(100% - 200px);
        left: 200px;
        nav .nav-link{
            display: none;
        }
    }
}
@media(max-width:576px){
    .content nav form .form-input input{
        display: none;
    }
    .content nav form .form-input button{
        width: auto;
        height: auto;
        background: transparent;
        border-radius: none;
        color: $dark;
    }
    .content nav form.show .form-input input{
        display: block;
        width: 100%;
    }
    .content nav form.show .form-input button{
        width: 36px;
        height: 36px;
        border-radius:0 36px 36px 0;
        color: $light;
        background: $red;
    }
    .content main .table-data .head{
        min-width: 430px;
    }
    .content main .table-data .order table{
        min-width: 420px;
    }
}




