// nav
    // $current-theme: light;
    $light:#f9f9f9;
    $blue:#3c91e6;
    $light-blue:#cfe8ff;
    $grey:#eee;
    $dark-grey:#aaaaaa;
    $dark:#342e37;
    $red:#db504a;
    $yello:#ffce26;
    $light-yellow:#fff2c6;
    $orange:#fd7238;
    $light-orange:#ffe0d3;
    // body.dark{
    //     $light:#0c0c1e !default;
    //     $grey:#060714 !default;
    //     $dark:#fbfbfb !default;
    //     background: red ;
    // }
    // https://www.youtube.com/watch?v=9vMyoT7G7uA